{
  "TOKEN": "ODk2MzYwMzIyMzM0NjE3NjMw.YWF-mg.N3o-Z1z5ZX3C9qc5bbmpFalTZhc",
  "YOUTUBE_API_KEY": "AIzaSyBVXSvSdoS_pgCrRB8gwp5S9MlbYS3ZO0A",
  "SOUNDCLOUD_CLIENT_ID": "",
  "MAX_PLAYLIST_SIZE": 10,
  "PREFIX": "/",
  "PRUNING": false,
  "LOCALE": "en",
  "STAY_TIME": 30,
  "DEFAULT_VOLUME": 100
}